:root {
  
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  
    /* background-image: url('./assets/countries.png');
    background-size: cover;
    background-repeat: no-repeat; */
  
}

