.container {
  margin-top: 50px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 0.95;
}
.error {
  width: 60px;
}
