.container{
  margin-top: 30px;
  
}
.table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

  }
  
  .table th,
  .table td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .table th {
    font-weight: bold;
    background-color: #ff8c8c1f;
    width: 30%;
  }
  
  .table tr:last-child td {
    border-bottom: none;
  }
  
  .table tr:hover {
    background-color: #f9f9f9;
  }
  .button{
    position: absolute;
    left: 78.7%;
    
  }