.select {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .select:hover {
    border-color: #999;
  }
  
  .select:focus {
    border-color: #555;
  }

  .button{
    padding: 9px 16px;
    background-color: #fa7878;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #f75252; 
  }
  .cardsCountries {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre las cards */
    justify-content: center; /* Centra las cards horizontalmente */
  }