.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
  
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.card a:hover {
  color: #0056b3;
}

.mapsG{
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  
}

.table th,
.table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.table th {
  font-weight: bold;
  background-color: #ff8c8c1f;
  width: 30%;
}

.table tr:last-child td {
  border-bottom: none;
}

.table tr:hover {
  background-color: #f9f9f9;
}